# Python cache files
__pycache__/
*.py[cod]

venv/
models/

# macOS system files
.DS_Store

# raw corpora
# will be published separately later
corpus/

# unpublic tests of the app
app/app_pretests/

# secrets
.env

# technical files which are not used in current project
# used for debugging and testing, but not needed in the repo
archive/