# Python cache files
__pycache__/
*.py[cod]

venv/
models/archive/

# macOS system files
.DS_Store

# raw corpora
# will be published separately later
corpus/
# corpora of other poets data
!corpus/other_authors/
!corpus/other_authors/**

# poetree dump preprocessing (temporary, not public)
src/preprocess_poetree_dump.py

# unpublic tests of the app
app/app_pretests/

# secrets
.env

# technical files which are not used in current project
# used for debugging and testing, but not needed in the repo
archive/

# finetuned models
# not public yet
/models/tsdae_mayakovsky/