# Python cache files
__pycache__/
*.py[cod]

venv/
models/

# macOS system files
.DS_Store

# raw corpora
corpus/

# unpublic tests of the app
app/app_pretests/

# secrets
.env

# technical file for text report generation
# used for debugging and testing, but not needed in the repo
src/text_report.py